{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Eyrie - About{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% include 'interface/breadcrumbs.html' with page_name='About' %}
            </div>
        </div>
        {% include 'interface/user_dropdown.html' with private=True %}
    </div>
    <div class="ui container">
        <h1 class="ui header center aligned">What is Eyrie?</h1>
        <p class="description">
            Eyrie is our attempt to build what we thought the GitHub wiki should be, using GitHub pages as an example.
            Users can create documentation for their repo by creating an orphan branch in the repository and putting documentation there.
            When a user adds their repo to Eyrie, they can select the branch they'd like Eyrie to follow.
            Because Eyrie uses a branch in the repository itself, users can use pull requests and other git workflows.
            The repository can have directories, rather than just a flat list of documents.
            Eyrie also allows users to search across multiple repositories.
        </p>
        <p class="description">
            Eyrie is maintained by <a href="https://zerocater.com">ZeroCater</a> and was created in response to our growing need to maintain and browse documentation,
            while keeping our standard GitHub workflows in place. We wanted our documentation to be treated like code.
            Because Eyrie is <a href="https://github.com/ZeroCater/Eyrie">open source</a>, anyone with experience with Python/Django is welcome to contribute.
        </p>
        <p class="description">
            Eyrie was created as a fork of <a href="https://www.lintyapp.com">Linty</a>, another open-source project of ours, and can be found on GitHub <a href="https://github.com/ZeroCater/linty">here</a>.
        </p>
    </div>
{% endblock %}

{% block extra_head %}
    <style>
    h1.ui.header {
        margin: 1.2em 0 !important;
        font-size: 2.3em;
    }
    p.description {
        font-size: 1.1em;
        line-height: 1.8em;
    }
    h1[class*="center aligned"], p[class*="center aligned"] {
        text-align: center;
    }
    </style>
{% endblock %}
