{% load staticfiles %}

<html>
<head>
    <title>{% if DEBUG %}[DEBUG] {% endif %}Eyrie: Docs Browser</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="Documentation browser for GitHub repos"/>
    <meta name="keywords" content="docs,wiki,github,browse,documentation"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="Eyrie"/>
    <meta property="og:url" content="https://www.eyrieapp.com"/>
    <meta property="og:title" content="Eyrie: Docs Browser"/>
    <meta property="og:description" content="Documentation browser for GitHub repos"/>

    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="right item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'repo_list' %}" class="ui inverted button">Dashboard</a>
                    {% elif DEBUG %}
                        <a href="{% url 'admin:login' %}" class="ui inverted button">Log in</a>
                    {% else %}
                        <a href="{% url 'social:begin' 'github' %}?next={{ request.path }}" class="ui inverted button">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">Eyrie</h1>
            <h2>Documentation browser for GitHub repos</h2>
            <br>
            <a class="ui huge violet button" href="{% url 'social:begin' 'github' %}">
                <i class="icon github"></i>
                Sign Up With Github
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-rc1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>
{% if not DEBUG %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-18074590-6', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>
