{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}

{% block title %}Linty - Privacy{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% include 'interface/breadcrumbs.html' with page_name='Privacy' %}
            </div>
        </div>
        {% include 'interface/user_dropdown.html' with private=True %}
    </div>
    <div class="ui container">
        <h1 class="ui header center aligned">How Linty Uses Your Data</h1>
        <p class="description">
            When a user first signs into Linty, GitHub asks if they wish to give Linty permission to access details of their account.
            Linty only requests the data necessary to operate, namely, the list of repositories the user has access to and their username.
            When a commit is pushed to a repository watched by Linty, a copy of that commit is created inside Linty.
            A series of linters are then run against the code, and output is generated for reporting the linting status.
            Once linting is complete, the code is destroyed.
        </p>
        <p class="description">
            Users can disconnect their GitHub account from Linty at any time by visiting <a href="{% url 'social:disconnect' 'github' %}">this URL</a>.
            However, because Linty depends on GitHub to function, disconnected users will need to sign in again if they wish to view past results for private repositories.
        </p>
        <p class="description">
            Linty code is <a href="https://github.com/ZeroCater/linty">open source</a>, so you can review it for yourself.
            Linty is hosted on <a href="https://www.heroku.com/home">Heroku</a>.
        </p>
    </div>
{% endblock %}

{% block extra_head %}
    <style>
    h1.ui.header {
        margin: 1.2em 0 !important;
        font-size: 2em;
    }
    p.description {
        font-size: 1.1em;
        line-height: 1.8em;
    }
    h1[class*="center aligned"], p[class*="center aligned"] {
        text-align: center;
    }
    </style>
{% endblock %}
