{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% load tz %}
{% load extra_tags %}

{% block title %}Eyrie - {{ object.full_name }}{% endblock %}

{% block extra_head %}
    <meta property="og:title" content="Eyrie - {{ object.full_name }}">
    <meta property="og:description" content="Wiki browser for {{ object.full_name }} on GitHub.">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% include 'interface/breadcrumbs.html' with page_name=object.full_name %}
            </div>
        </div>
        {% include 'interface/user_dropdown.html' with private=object.is_private %}
    </div>

    <div class="ui text menu">
        {% if is_owner %}
        <div class="ui item">
            <button id="settings" class="ui icon right aligned big basic button" data-inverted="" data-position="bottom right" data-tooltip="Settings">
                <i class="icon setting"></i> Settings
            </button>
        </div>
        {% endif %}
    </div>
    <table class="files">
        <tbody>
            {% if document and not files %}
            <tr class="up-tree">
                <td class="icon"></td>
                <td class="content">
                    <a href="." rel="nofollow" title="Go to parent directory">.</a>
                </td>
                <td class="age"></td>
            </tr>
            {% endif %}
            {% for file in files %}
            <tr>
                <td class="icon">
                    {% if file|last == '/' %}
                    <svg aria-hidden="true" class="octicon octicon-file-directory" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>
                    {% else %}
                    <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                    {% endif %}
                </td>
                <td class="content">
                    <span class="css-truncate">
                        <a href="{{ file }}" title="{{ file }}">{{ file }}</a>
                    </span>
                </td>
                <td class="age">
                    <span class="css-truncate">
                        <time-ago datetime="" title=""></time-ago>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if document %}
        <div id="readme" class="readme">
            <h3>
                <svg aria-hidden="true" class="octicon octicon-book" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M3 5h4v1H3V5zm0 3h4V7H3v1zm0 2h4V9H3v1zm11-5h-4v1h4V5zm0 2h-4v1h4V7zm0 2h-4v1h4V9zm2-6v9c0 .55-.45 1-1 1H9.5l-1 1-1-1H2c-.55 0-1-.45-1-1V3c0-.55.45-1 1-1h5.5l1 1 1-1H15c.55 0 1 .45 1 1zm-8 .5L7.5 3H2v9h6V3.5zm7-.5H9.5l-.5.5V12h6V3z"></path></svg>
                {{ document.filename }}
            </h3>
            <article class="markdown-body">
                {{ document.body|markdown }}
            </article>
        </div>
    {% endif %}
    <div id="settings_modal" class="ui small modal">
        <div class="header">
            Repository Settings
        </div>
        <div class="content">
            <form id="settings_form" action="" method="POST" class="ui form">
                {% csrf_token %}
                <div class="fields">
                    <div class="eight wide field">
                        <label for="default_branch">Wiki Branch</label>
                        <select name="default_branch" id="default_branch" class=" ui search dropdown">
                            {% for branch in branches %}
                                <option value="{{ branch }}" {% if object.wiki_branch == branch %}selected=""{% endif %}>{{ branch }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                  Permissions
                </h4>
                <p>
                    Eyrie respects the same permissions as GitHub. If this repo is public, then this repo is public in Eyrie.
                    However, only collaborators may access these settings.
                    If this repo is private, only collaborators of the repository can view this repo on Eyrie.<br/>
                    Eyrie staff can see all pages, for support purposes.
                </p>
            </form>
        </div>
        <div class="actions">
            <div class="ui left aligned red button" id="delete_repo">
                Delete
            </div>
            <div class="ui gray cancel button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div id="save_button" class="ui green ok button">
                <i class="checkmark icon"></i>
                Save
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script type="text/javascript">
     $.fn.api.settings.api = {
        'delete_repo': '{% url "repo_delete" full_name=object.full_name %}'
    };
    </script>
    <script type="text/javascript" src="{% static 'js/repo_detail.js' %}"></script>
{% endblock %}
