{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% load tz %}
{% load extra_tags %}

{% block title %}Eyrie - {{ object.full_name }}{% endblock %}

{% block extra_head %}
    <meta property="og:title" content="Eyrie - {{ object.full_name }}">
    <meta property="og:description" content="Wiki browser for {{ object.full_name }} on GitHub.">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="{% static 'css/pygments.css' %}">
{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                {% include 'interface/breadcrumbs.html' with page_name=object.full_name %}
            </div>
        </div>
        {% include 'interface/user_dropdown.html' with private=object.is_private %}
    </div>

    <div class="ui text menu">
        <form id="search-form" method="GET" action="/search">
            <div class="ui small action input item">
                <input type="text" name="q" placeholder="Search...">
                <button class="ui icon button" type="submit"><i class="search icon"></i></button>
            </div>
        </form>
        <div class="ui right item">
            {% if is_owner %}
            <button id="settings" class="ui icon right aligned big basic button" data-inverted="" data-position="bottom right" data-tooltip="Settings">
                <i class="icon setting"></i>
            </button>
            {% endif %}
            {% if document and not files %}
            <a target="_blank" class="ui icon left aligned big basic button link" href="{{ document.github_view_link }}">
            {% else %}
            <a target="_blank" class="ui icon left aligned big basic button link" href="https://github.com/{{ object.full_name }}/tree/{{ object.wiki_branch }}{{ path }}">
            {% endif %}
                View on GitHub
                <i class="icon github"></i>
            </a>
        </div>
    </div>
    {% if breadcrumbs %}
    <div class="breadcrumb">
        <span class="repo-root">
            <a href="{{ base_url }}">{{ object.full_name }}</a>
        </span>
        {% for b_url, b_text in breadcrumbs %}
        <span class="separator">/</span>
        <span>
            {% if not forloop.last %}
            <a href="{{ b_url }}">{{ b_text }}</a>
            {% else %}
                <strong>{{ b_text }}</strong>
            {% endif %}
        </span>
        {% endfor %}
    </div>
    {% endif %}
    <table class="files">
        <tbody>
            {% if path != '/' and directory %}
            <tr class="up-tree">
                <td class="icon"></td>
                <td class="content">
                    <a href=".." rel="nofollow" title="Go to parent directory">..</a>
                </td>
                <td class="age"></td>
            </tr>
            {% endif %}
            {% for file in files %}
            <tr>
                <td class="icon">
                    {% if file|last == '/' %}
                    <svg aria-hidden="true" class="octicon octicon-file-directory" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>
                    {% else %}
                    <svg aria-hidden="true" class="octicon octicon-file-text" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
                    {% endif %}
                </td>
                <td class="content">
                    <span class="css-truncate">
                        <a href="{{ file }}" title="{{ file }}">{{ file }}</a>
                    </span>
                </td>
                <td class="age">
                    <span class="css-truncate">
                        <time-ago datetime="" title=""></time-ago>
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if document %}
        <div id="readme" class="readme">
            <h3>
                {{ document.filename }}
                <div class="file-management">
                    <a target="_blank" href="{{ document.github_edit_link }}">
                        <svg aria-hidden="true" class="octicon octicon-pencil" height="16" version="1.1" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M0 12v3h3l8-8-3-3-8 8zm3 2H1v-2h1v1h1v1zm10.3-9.3L12 6 9 3l1.3-1.3a.996.996 0 0 1 1.41 0l1.59 1.59c.39.39.39 1.02 0 1.41z"></path></svg>
                        Edit
                    </a>
                </div>
                <span class="commit-date">
                    Updated {{ document.commit_date|date }}
                </span>
            </h3>
            <article class="markdown-body">
                {{ document.body|markdown }}
            </article>
        </div>
    {% endif %}
    <div id="settings_modal" class="ui small modal">
        <div class="header">
            Repository Settings
        </div>
        <div class="content">
            <form id="settings_form" action="" method="POST" class="ui form">
                {% csrf_token %}
                <div class="fields">
                    <div class="eight wide field">
                        <label for="default_branch">Wiki Branch</label>
                        <select name="default_branch" id="default_branch" class=" ui search dropdown">
                            {% for branch in branches %}
                                <option value="{{ branch }}" {% if object.wiki_branch == branch %}selected=""{% endif %}>{{ branch }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <h4 class="ui horizontal divider header">
                  Permissions
                </h4>
                <p>
                    Eyrie respects the same permissions as GitHub. If this repo is public, then this repo is public in Eyrie.
                    However, only collaborators may access these settings.
                    If this repo is private, only collaborators of the repository can view this repo on Eyrie.<br/>
                    Eyrie staff can see all pages, for support purposes.
                </p>
            </form>
        </div>
        <div class="actions">
            <div class="ui left aligned red button" id="delete_repo">
                Delete
            </div>
            <div class="ui gray cancel button">
                <i class="remove icon"></i>
                Cancel
            </div>
            <div id="save_button" class="ui green ok button">
                <i class="checkmark icon"></i>
                Save
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
    <script type="text/javascript">
     $.fn.api.settings.api = {
        'delete_repo': '{% url "repo_delete" full_name=object.full_name %}'
    };
     var full_name = '{{ object.full_name }}';
     var branch = '{{ object.wiki_branch }}';
     var base_url = '{{ base_url }}';
    </script>
    <script type="text/javascript" src="{% static 'js/repo_detail.js' %}"></script>
{% endblock %}
