{% if builds.paginator.num_pages > 1 %}
    <div class="ui grid center aligned paginator_bottom">
        <div>
            <div class="ui pagination menu">
                {% if builds.number == 1 %}
                    <span class="item active">First</span>
                {% else %}
                    <a class="item" href="?{% if ref %}ref={{ ref }}&{% endif %}page=1">First</a>
                {% endif %}
                {% for page in pages %}
                    {% if page == builds.number %}
                        <span class="item active">{{ page }}</span>
                    {% else %}
                        <a class="item" href="?{% if ref %}ref={{ ref }}&{% endif %}page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}
                {% if builds.number == builds.paginator.num_pages %}
                    <span class="item active">Last</span>
                {% else %}
                    <a class="item" href="?{% if ref %}ref={{ ref }}&{% endif %}page={{ builds.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        </div>
        <div class="right floated build_label">{{ num_objects }} builds</div>
    </div>
{% endif %}
