{% extends 'base.html' %}
{% load humanize %}
{% load extra_tags %}

{% block title %}Linty - Timeline{% endblock %}

{% block body %}
    <div class="ui text menu">
        <div class="ui item">
            <div class="ui large breadcrumb">
                <a href="{% url 'repo_list' %}" class="section">Dashboard</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">Timeline</div>
            </div>
        </div>
        {% include 'interface/user_dropdown.html' with private=True %}
    </div>

    <div class="ui statistics three">
        <div class="ui statistic">
            <div class="value">{{ user_count }}</div>
            <div class="label">Users</div>
        </div>
        <div class="ui statistic">
            <div class="value">{{ repo_count }}</div>
            <div class="label">Repos</div>
        </div>
        <div class="ui statistic">
            <div class="value">{{ build_count }}</div>
            <div class="label">Builds</div>
        </div>
    </div>

    <div class="ui feed large">
        {% for obj in object_list %}
            <div class="event">
                <div class="label">
                    <i class="icon plus"></i>
                </div>
                <div class="content">
                    <div class="summary">
                        {% if obj.type == 'build' %}
                        A new <a href="{% url 'build_detail' pk=obj.id %}">build</a> was added to
                        <a href="{% url 'repo_detail' full_name=obj.repo_name %}">{{ obj.repo_name }}</a>
                        {% elif obj.type == 'repo' %}
                        A new <a href="{% url 'repo_detail' full_name=obj.full_name %}">repo</a> was added.
                        {% endif %}
                    </div>
                    <div class="date">
                        {% if obj.type == 'build' %}
                        {{ obj.created_at }}{% if obj.duration %}, {{ obj.duration|humanize_td }}{% endif %}
                        {% elif obj.type == 'repo' %}
                        Added {{ obj.created_at|naturaltime }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
